:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.card-head {
    height: 20px;
    background-color: #95f7a0;
}

#main-icon {
    width: 60px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.card-left {
    width: 60%;
}
.card-right {
    width: 40%;
    text-align: center;
    margin-top: auto;
}
.card-icon-sm {
    width:30px;
}
.card-icon-md {
    width:60px;
}
.card-icon-lg {
    width:90px;
}
.card-icon-xl {
    width:120px;
}
.card-latin {
    font-style: italic;
    font-size: .9rem;
    color: #808b97;
}
.card-body {
    flex: 1 1 auto;
    padding: 4%;
    display: flex;
}
.card-name {
    font-weight: 650;
    font-size: 1.3rem;
}

.view-button {
    bottom: 4%;
    position: absolute;
}
.card-type {
    padding-bottom: 30px;
}

.bg-dark {
    background-color: #95e9b2 !important;
}